@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*colors #151d21 to #2d2d2d*/

body {
  font: 2.2rem 'Roboto Thin';
  padding: 0;
  margin: 0;
  background: #444444;
  color: white;
}

h2 {
  font-size: 2.5rem;
}

.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#skills {
  margin-top: 80px;
}

h2 {
  transform: translateX(2%);
}

#skill-bars-container {
  /*margin-top: 40px;*/
  display: grid;
  align-items: center;
  font-size: 2rem;
  grid-template-columns: 1fr 7fr;
  transform: translateX(2%);
}

.skill-name {
  margin: 10px 0 10px 0;
  color: #f0f8ff;
}

.categ {
  margin: 10px 0 10px 0;
  color: #f0f8ff;
}


.skill-bar {
  width: 100%;
  height: 50%;
  margin: 10px 0 10px 10px;
  background-color: rgb(100,100,100);
}

#lang-python {
  width: 80%;
}
#lang-python::before {
  content: '80%';
  font: 'Arial' 1.8rem;
  font-weight: 2;
}

#lang-javascript {
  width: 80%;
}
#lang-javascript::before{
  content: '80%';
  font: 'Arial' 1.8rem;
  font-weight: 2;
}

#lang-java {
  width: 60%;
}
#lang-java::before {
  content: '60%';
  font: 'Arial' 1.8rem;
  font-weight: 2;
}

#lang-c {
  width: 50%;
}
#lang-c::before {
  content: '50%';
  font: 'Arial' 1.8rem;
  font-weight: 2;
}

#feats {
  margin-top: 50px;
  margin-bottom: 80px;
}

.feats-container {
  display: grid;
  align-items: center;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr;
  transform: translateX(2%);
}

.rank {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
}


header {
  position: absolute;
  top: 0;
  width: 100%;
}

#nav {
  font-size: 1.8rem;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

header li{
  display: inline;
  padding: 10px; 
}

header a {
  color: #f0f8ff;
  text-decoration: none;
}

header a:hover {
  color: #ff7a7a;
}

#alias {
  padding: 10px;
  font: 1.6rem 'Train One', cursive;
  animation: flicker 10s linear 3s infinite;
}


.container h1{
  padding: 0;
  margin: 0;
  color: #ff7a7a;
}


@keyframes appear{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flicker-disappear{
  0%, 100% {opacity: 0;}
}

@keyframes flicker {
  0% {
    opacity:0.1;
  }  
  0.6% {
    opacity:1;
  }
  2.4% {
    opacity:0.1;
  }
  2.7% {
    opacity:1;
  }
  3.6% {
    opacity:0.1;
  }
  6% {
    opacity:1;
  }
  7.5% {
    opacity:0.3;
  }
  9% {
    opacity:1;
  } 
  21% {
    opacity:0.7;
  } 
  21.6% {
    opacity:0.2;
  } 
  23.1% {
    opacity:0.9;
  }
  30% {
    opacity:0.9;
  }
  30.1%, 100% {
    opacity:1;
  }
}

@media only screen and (max-width: 525px) {
  .feats-container {
    font-size: 1.4rem;
  }
  .rank {
    font-size: 1.2rem;
  }
}

