@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*colors #151d21 to #2d2d2d*/

body {
  font: 2.2rem 'Roboto Thin';
  padding: 0;
  margin: 0;
  background: #151D21;
  background-image: linear-gradient(to bottom right, #2d2d2d, #151d21);
  color: white;
}


.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  /*height: 100vh;*/
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

#skills {
  margin-top: 80px;
}

#skill-bars-container {
  margin-top: 40px;
  display: grid;
  font-size: 1.8rem;
  grid-template-columns: 1fr 7fr;
}

#skill-bars-container div{
  padding: 10px 10px 0 0;
}

#feats {
  margin-top: 50px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  font-size: 1.8rem;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

header li{
  display: inline;
  padding: 10px; 
}

header a {
  color: #f0f8ff;
  text-decoration: none;
}

header a:hover {
  color: #ff7a7a;
}

#alias {
  padding: 10px;
  font: 1.6rem 'Train One', cursive;
  animation: flicker 10s linear 3s infinite;
}


#tag1 {
  opacity: 0;
  animation: appear 0.5s ease-out 0.5s;
  animation-fill-mode: forwards;
}

.container h1{
  padding: 0;
  margin: 0;
  color: #ff7a7a;
}


@keyframes appear{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flicker-disappear{
  0%, 100% {opacity: 0;}
}

@keyframes flicker {
  0% {
    opacity:0.1;
  }  
  0.6% {
    opacity:1;
  }
  2.4% {
    opacity:0.1;
  }
  2.7% {
    opacity:1;
  }
  3.6% {
    opacity:0.1;
  }
  6% {
    opacity:1;
  }
  7.5% {
    opacity:0.3;
  }
  9% {
    opacity:1;
  } 
  21% {
    opacity:0.7;
  } 
  21.6% {
    opacity:0.2;
  } 
  23.1% {
    opacity:0.9;
  }
  30% {
    opacity:0.9;
  }
  30.1%, 100% {
    opacity:1;
  }
}

@media only screen and (max-width: 525px) {
  #me h1{
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 715px) {
  .dot {
    display: none;
  }

  #tags {
    display: flex;
    flex-direction: column;
  }
}

