@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*colors #151d21 to #2d2d2d*/

body {
  font: 2.2rem 'Roboto Thin';
  padding: 0;
  margin: 0;
  background: #151D21;
  background-image: linear-gradient(to bottom right, #2d2d2d, #151d21);
  color: white;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}


.svg-container {
  align-self: flex-end;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translate(30%, 0);
}

#moon {
  width: 50%;
  /*opacity: 0.5;*/
  transition: transform 250ms ease-out, opacity 250ms ease-out;
}

#moon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

#moonlight {
  width: 135%;
}

.cloud {
  width: 35%;
}

#cloud1 {
  transform: translate(70%, 0);
}

#cloud2 {
  transform: translate(50%, 120%);
}

#cloud3 {
  transform: translate(-60%, 120%);
}

#cloud-b1 {
  transform: translate(40%, -140%);
}

#cloud-b2 {
  transform: translate(-70%, -100%);
}


.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  font-size: 1.8rem;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

header li{
  display: inline;
  padding: 10px; 
}

header a {
  color: #f0f8ff;
  text-decoration: none;
}

header a:hover {
  color: #ff7a7a;
}

#alias {
  padding: 10px;
  font: 1.6rem 'Train One', cursive;
}

#me h1{
  font-size: 6rem;
}

.dot {
  color: #ff7a7a
}

#tag1 {
  opacity: 0;
  animation: appear 2s ease-out 0.5s;
  animation-fill-mode: forwards;
}
#dot1 {
  opacity: 0;
  animation: appear 0s linear 2.5s;
  animation-fill-mode: forwards;
}
#tag2 {
  opacity: 0;
  animation: appear 2s ease-out 2.5s;
  animation-fill-mode: forwards;
}
#dot2 {
  opacity: 0;
  animation: appear 0s linear 4.5s;
  animation-fill-mode: forwards;
}
#tag3 {
  opacity: 0;
  animation: appear 2s ease-out 4.5s;
  animation-fill-mode: forwards;
}

.container h1{
  padding: 0;
  margin: 0;
  color: #ff7a7a;
}

#about {
  background: rgba(158,158,158,0.25);
}


@keyframes appear{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width: 525px) {
  #me h1{
    font-size: 4.4rem;
  }

  .dot {
    display: none;
  }

  #tags {
    display: flex;
    flex-direction: column;
  }
}

