@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*colors #151d21 to #2d2d2d*/

body {
  font: 2.2rem 'Roboto Thin';
  padding: 0;
  margin: 0;
  background: #151D21;
  background-image: linear-gradient(to bottom right, #2d2d2d, #151d21);
  color: white;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  pointer-events: none;
}


.svg-container {
  align-self: flex-end;
  width: 70%;
  justfiy-content: center;
  height: 100vh;
  transform: translate(25%, 5%);

}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms ease-out, opacity 250ms ease-out;
}

#moon {
  width: 50%;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

#moon:hover {
  transform: scale(1.1) translate(-50%, -50%);
}

#moon:hover ~ #moonlight {
  transform: scale(1.1) translate(-50%, -50%);
}

#moon:hover ~ #cloud1 {
  transform: translate(27%, -50%);
}

#moon:hover ~ #cloud2 {
  transform: translate(5%, 82%);
}

#moon:hover ~ #cloud3 {
  transform: translate(-116%, 82%);

}

#moon:hover ~ #cloud-b1 {
  transform: translate(-6%, -204%);
}

#moon:hover ~ #cloud-b2 {
  transform:  translate(-127%, -160%);
}

#moonlight {
  width: 135%;
  transform: translate(-50%, -50%);
}

.cloud {
  width: 35%;
}

#cloud1 {
  transform: translate(20%, -50%);
}

#cloud2 {
  transform: translate(0, 70%);
}

#cloud3 {
  transform: translate(-110%, 70%);
}


#cloud-b1 {
  transform: translate(-10%, -190%);
}

#cloud-b2 {
  transform: translate(-120%, -150%);
}


.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  font-size: 1.8rem;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

header li{
  display: inline;
  padding: 10px; 
}

header a {
  color: #f0f8ff;
  text-decoration: none;
}

header a:hover {
  color: #ff7a7a;
}

#alias {
  padding: 10px;
  font: 1.6rem 'Train One', cursive;
  animation: flicker 3s linear 2s infinite;
}


#me h1{
  font-size: 6rem;
}

.dot {
  color: #ff7a7a
}

#tag1 {
  opacity: 0;
  animation: appear 0.5s ease-out 0.5s;
  animation-fill-mode: forwards;
}
#dot1 {
  opacity: 0;
  animation: appear 0s linear 1s;
  animation-fill-mode: forwards;
}
#tag2 {
  opacity: 0;
  animation: appear 0.5s ease-out 1s;
  animation-fill-mode: forwards;
}
#dot2 {
  opacity: 0;
  animation: appear 0s linear 1.5s;
  animation-fill-mode: forwards;
}
#tag3 {
  opacity: 0;
  animation: appear 0.5s ease-out 1.5s;
  animation-fill-mode: forwards;
}

.container h1{
  padding: 0;
  margin: 0;
  color: #ff7a7a;
}

#about {
  background: rgba(158,158,158,0.25);
}


@keyframes appear{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flicker-disappear{
  0%, 100% {opacity: 0;}
}

@keyframes flicker {
  0% {
    opacity:0.1;
  }  
  2% {
    opacity:1;
  }
  8% {
    opacity:0.1;
  }
  9% {
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.3;
  }
  30% {
    opacity:1;
  } 
  70% {
    opacity:0.7;
  } 
  72% {
    opacity:0.2;
  } 
  77% {
    opacity:0.9;
  }
  100% {
    opacity:0.9;
  }
}

@media only screen and (max-width: 525px) {
  #me h1{
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 715px) {
  .dot {
    display: none;
  }

  #tags {
    display: flex;
    flex-direction: column;
  }
}

