@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font: 35px 'Roboto Thin';
  padding: 0;
  margin: 0;
  background: #151D21;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('bg.png');
  color: white;
}

.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  font-size: 30px;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

header li{
  display: inline;
  padding: 10px; 
}

header a {
  color: #f0f8ff;
  text-decoration: none;
}

header a:hover {
  color: #ff7a7a;
}

#alias {
  padding: 10px;
  font: 25px 'Train One', cursive;
}

#me h1{
  padding: 0;
  margin: 0;
  font-size: 5rem;
  color: #ff7a7a;
}

#tags span {
  color: #ff7a7a
}

.container h1{
  padding: 0;
  margin: 0;
  color: #ff7a7a;
}